---
layout: default
ref: Home
lang: en
homepage: true
---
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center orange-text">OpenData.cz</h1>
      <div class="row center">
    {% for p in site.pages %}
    {% if p.postindex and p.lang == page.lang %}
        <h5 class="header col s12 light"><a href="{{p.url}}">Initiative for transparent data infrastructure</a></h5>
    {% endif %}
    {% endfor %}
      </div>
    </div>
</div>

<div class="container flow-text">
<p> Our goal is to build an open data infrastructure which will enable to access public data in Czech Republic. It will provide data in a form that allows access to anyone at any time and allows to combine it freely. This will allow the creation of applications that the public really needs. An example of the approach is <a href="http://openlylocal.com/">Openly Local</a>. To get a better idea of what open data is all about, see the #opendata short film.</p>
<h2 class="center orange-text">Motivation</h2>

<p>Today, the public administration publishes data mostly through prepared applications. However, those applications only suit a certain type of a user. Therefore, it excludes users who want to use the data in a different way than the public administration intended. An example of this can be data published by public administration about:</p>

<ol>
   <li>tenders and budget</li>
   <li>payments made by individual towns, cities, regions and state institutions</li>
   <li>composition of municipal representation and individual votes of its members</li>
</ol>

<p>Various third-party developers can come up with many applications that display, analyze and link the data in various ways that would be interesting to the public. For example, applications showing</p>

<ol>
   <li>trends of number and amount of tenders in individual regions</li>
   <li>trends of municipal budgets in individual regions</li>
   <li>tender winning companies, whose leaders are municipal representatives</li>
   <li>10 biggest suppliers for each regional city</li>
</ol>

<p>Most of the necessary data is produced from the tax payer's money. The data is even often available on the web. However, thanks to the way the date is published, the creation of custom applications is challenging both financially and in terms of time.</p>

<p>To transparently publish data by public administration does not mean to publish it in a proprietary format (scanned to PDF or as a manually created table). It means to publish it using standard open formats, which allow the general public to</p>

<ol>
   <li>share the data freely (the public administration does not discriminate - anyone can use the data either directly, or create an application which gives the data to its users in a different way than the public administration intended to),</li>
   <li>combine the data freely (the public can combine different data, whose connection the public administration did not consider)</li>
</ol>

<h2 class="center orange-text">Goals</h2>

<p>We initiate the construction of a transparent data infrastructure of public administration. It is a long-term gradual process. The data can be published on different levels of transparency</p>

<ol>
   <li>in any form (i.e. scanned to PDF)</li>
   <li>in a form of structured data (i.e. Excel table with wich we can work; what is a text should be published as a text, not as an image)</li>
   <li>using open data formats which allow for the data to be used in our own applications (i.e. XML)</li>
   <li>using standardized formats for free sharing and combining of data (RDF)</li>
</ol>

<p>Transparent data infrastructure will, thanks to the possibility of free data sharing and combining, lead to new discoveries and innovations and, in effect, to growth of knowledge economics.</p>

<p>We emphasize the primary duty of public administration - to make the data, for the creation of which the public pays for via taxes, accessible. The public has the right to access its data. Applications and visual interfaces interpreting the data are only a secondary task for the public administration. Therefore it is mutually beneficial to let the public create their own. Another possibility is to use helpfulness of public administration, which can provide the data as a gift even though it is not obliged to do so by law - the so called pro-active disclosure of data by public administration.</p>

<p>The Data infrastructure certainly does not aim for publishing data protected by law, i.e. personal or medical data. It only focuses on data that is public by law.</p>

<h2 class="center orange-text">Parallel with construction of transport infrastructure</h2>

<p>The public administration invests huge amounts of resources into the construction of transport infrastructure. The goal is to construct road and rail network, which can be</p>

<ol>
   <li>freely shared (the public administration does not discriminate - anyone can use the transport infrastructure using means of travel of his choice),</li>
   <li>freely combine (the public can combine various parts of the transport infrastructure freely to get from place A to place B)</li>
</ol>

<p>Points 1 and 2 directly correlate with the characteristics of the transparent data infrastructure. The construction of high quality transport infrastructure has the same economical and social impact on the geographical area of the country as the construction of transparent data infrastructure has on a given area of public administration.</p>

<p>When nobody doubts the importance of transport infrastructure, the data infrastructure is very neglected. At the same time the investments into data infrastructure lead to the growth of knowledge economics in the same way that investments into transport infrastructure lead to the growth of economics.</p>

<h2 class="center orange-text">Relationship between the strategy of computerization of public administration (eGovernment) and our initiative</h2>

<p>These two concepts are not concurrent. On the contrary, they complement each other. The strategy of eGovernment in The Czech Republic focuses on computerization of the processes in the public administration. The construction of data infrastructure focuses primarily on transparent disclosure of data created during these processes.</p>

<p>The Data infrastructure helps with the computerization of processes (the transparent data can be used by the public administration itself). The more the computerization of public administration processes develops, the more data will be available for transparent disclosure.</p>
</div>

<div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">card_membership</i></h2>
            <h5 class="center">Open data</h5>

            <p class="light center flow-text"</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">share</i></h2>
            <h5 class="center">Processes</h5>

            <p class="light center flow-text"></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">accessibility</i></h2>
            <h5 class="center">Applications</h5>

            <p class="light center flow-text"></p>
          </div>
        </div>
      </div>
    </div>
</div>