---
layout: default
ref: Home
lang: cs
homepage: true
---
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center orange-text">OpenData.cz</h1>
      <div class="row center">
      <h4 class="header col s12 light">Iniciativa za otevřenou datovou infrastrukturu.</h4>
      </div>
<p class="flow-text">Naším cílem je vybudování otevřené datové infrastruktury v ČR. Ta bude poskytovat veřejná data komukoliv a kdykoliv a umožní data volně kombinovat. Na základě snadného přístupu k datům může odborná veřejnost svobodně a nezávisle tvořit aplikace ať pro jiné odborníky tak pro laickou veřejnost. Příkladem může být aplikace Rozklikávací rozpočet. Pro lepší představu o tom co jsou to otevřená data shlédněte <a href="/film/">film #opendata</a>.</p>      
    </div>
</div>
<div class="container">
{% assign posts=site.posts | where:"lang", page.lang %}
     <div class="row">
          <div class="col s12">
              <h3 class="center orange-text">Novinky</h3>
               <ul class="collapsible" data-collapsible="accordion">
                {% for post in posts limit:1 %}
                <li>
                  <div class="collapsible-header active"><i class="material-icons blue-text">{{ post.icon }}</i>{{ post.date | date: "%Y-%m-%d" }}: <span class=" orange-text">{{ post.title }}</span></div>
                  <div class="collapsible-body">
                    <div class="flow-text">{{ post.excerpt }}</div>
                    {% if post.detail %}
                    <a href="{{ post.url }}" class="btn waves-effect waves-light orange"><i class="material-icons left">open_in_browser</i>Více</a>
                    {% endif %}
                  </div>
                </li>
                {% endfor %}
                {% for post in posts limit:4 offset:1 %}
                <li>
                  <div class="collapsible-header"><i class="material-icons blue-text">{{ post.icon }}</i>{{ post.date | date: "%Y-%m-%d" }}: <span class="orange-text">{{ post.title }}</span></div>
                  <div class="collapsible-body">
                    <div class="flow-text">{{ post.excerpt }}</div>
                    {% if post.detail %}
                    <a href="{{ post.url }}" class="btn waves-effect waves-light orange"><i class="material-icons left">open_in_browser</i>Více</a>
                    {% endif %}
                  </div>
                </li>
                {% endfor %}
               </ul>
               <p class="center"><a href="/příspěvky/" class="btn waves-effect waves-light orange"><i class="material-icons left">lightbulb_outline</i>Další novinky</a> </p>
          </div>
    </div>
  </div>

<div class="container">
<h2 class="center orange-text">Naše výstupy</h2>
  <div class="row">
    <div class="col s12 m6 l4">
      <div class="icon-block">
        <h3 class="center blue-text"><i class="material-icons">add_shopping_cart</i></h3>
        <h5 class="center">Aplikace</h5>
        <p class="light flow-text">
        Naši otevřenou datovou infrastrukturu již využívá <a href="/aplikace/">několik aplikací</a>.
        </p>
      </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="icon-block">
        <h3 class="center blue-text"><i class="material-icons">share</i></h3>
        <h5 class="center">Datové sady</h5>
        <p class="light flow-text">
        Podívejte se na náš <a href="http://linked.opendata.cz">CKAN katalog</a>.
        </p>
      </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="icon-block">
        <h3 class="center blue-text"><i class="material-icons">photo_camera</i></h3>
        <h5 class="center">Média</h5>
        <p class="light flow-text">
        OpenData.cz <a href="/média/">v médiích</a>.
        </p>
      </div>
    </div>

  </div>
</div>
  
<div class="container">

<p class="flow-text">Jako přípravu pro budování otevřené datové infrastruktury připravujeme tzv. <a href="http://linked.opendata.cz">katalog dat</a>. Samotnou infrastrukturu již budujeme také. Na práci se podílejí akademici a studenti z dvou českých fakult: <a href="http://www.ksi.mff.cuni.cz">Matematicko-fyzikální fakulta UK</a> a <a href="http://keg.vse.cz/">Fakulta informatiky a statistiky VŠE</a></p>

</div>