 <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Tým</h5>
          <p class="grey-text text-lighten-4">Jsme <a class="orange-text text-lighten-3" href="/o-nas/">tým studentů a akademiků</a> z pražských informatických univerzit. </p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Spojte se s námi</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/opendatacz">GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Stránky vám přináší <a class="orange-text text-lighten-3" href="https://github.com/orgs/opendatacz/people">tým OpenData.cz</a>
      </div>
    </div>
  </footer>
